{%extends 'base.html'%}


{%block content%}


<h1
    style="color:yellow; font-weight: bold; text-align:center; font-family:cursive; margin-top: 50px; text-shadow: 2px 2px #23c4e4">
    SPARKS FOUNDATION INTERNSHIP PROGRAM</h1>
<br>
<br>

<h5 style="font-size:30px; text-align:center; font-family:Verdana, Geneva, Tahoma, sans-serif"><i>Credit Management</i>
</h5>
<div style="text-align:center;">
    <br>

    <a class='btn btn-warning mx-2' style="padding: 6px 40px; font-weight: bold" href="{% url 'users' %}">View Users</a>

    </a>
    <br>
    <br>
    <br>


</div>
{%endblock%}